{% extends 'admin/adm_common.twig' %}
{% block content %}
<div class="row">
  <div class="col-sm py-3">
    <p>Add a user</p>
    <form action="adm_users" method="post">
      <input id="addUsername" name="addUsername" type="text" class="form-control form-control-lg my-2" placeholder="Username" required>
      <input id="addEmail" name="addEmail" type="email" class="form-control form-control-lg my-2" placeholder="Email" required>
      <input id="addPasswd" name="addPasswd" type="password" class="form-control form-control-lg my-2" placeholder="Password" required>
      <div class="form-row">
        <div class="col">
          <input id="addFirstname" name="addFirstname" type="text" class="form-control form-control-lg my-2" placeholder="Firstname" required>
        </div>
        <div class="col">
          <input id="addLastname" name="addLastname" type="text" class="form-control form-control-lg my-2" placeholder="Lastname" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  <div class="col-sm py-3">
    <p>Here is a list of all your users</p>
    <table class="table table-hover">
      <thead class="bg-danger text-white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Admin?</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>


      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user['user_id'] }}</td>
          <td>{{ user['username'] }}</td>
          <td>{{ user['permission_lvl'] }}</td>
          <td><a href="adm_users/edit_{{ user['username'] }}"><i class="fas fa-edit"></i></a></td>
          <td><a href="adm_users/delete_{{ user['username'] }}"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>




    </table>
  </div>
</div>
{% endblock %}
