{% extends '/common/common.twig' %}

{% block content %}
  <button class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    {% for categorie in categories %}
      {% if not categorie['category_id'] == 0 %}
        <tr>
          <td><a class="dropdown-item" href="artByCat{{ categorie['category_id'] }}">{{ categorie['cat_name'] }}</a></td>
        </tr>
        {% endif %}
      {% endfor %}

  </div>
  {% for article in articles %}
  <div class="card-deck card-article mx-auto col-md-11">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title title">{{ article['title'] }}</h2>
        <h5 class="card-author author">By {{ article['username'] }}</h5>
        <div class="card-text content px-lg-5 py-3">{{ article['content']|striptags|slice(0, 500)  }}</div>
        <h6 class="card-date date">{{ article['date_publication']|slice(0, 10) }}</h6>
        <a href="article{{ article['article_id'] }}" class="btn btn-secondary ml-lg-5">Read More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
