{% extends 'common.twig' %}

{% block content %}
  {% for champ in champss %}
    <div class="champ">
      <p>{{champ.username}}</p>
      <p>{{champ.price_BE}} - {{champ.price_RP}}</p>
      <p>{{champ.lore}}</p>
      <p>{{champ.main_position}}</p>
      <p>{{champ.sub_position}}</p>
    </div>
  {% endfor %}
{% endblock %}
